<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Datum | CRM Admin Dashboard Template</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico" />


  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WNGH9RL");
    window.tag_manager_event = "dashboard-free-preview";
    window.tag_manager_product = "Datum";
  </script>
  <link rel="stylesheet" href="css/backend-plugin.min.css" />
  <link rel="stylesheet" href="css/backend.css" />
</head>

<body class="  ">
  <div id="loading">
    <div id="loading-center"></div>
  </div>
  <div class="wrapper">
    <div class="" style="width: 100%; margin: 0px; background-color: #FFFFFF;  margin-bottom: 10px;">
      <div class="iq-navbar-custom " style="width: 100%;  ">
        <nav class="navbar navbar-expand-lg navbar-light p-0" style="display: block;">

          <div class="d-flex align-items-center">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">


              <img src="images/logo.png" alt="" width="70px" height="50px" style="margin-left: 20px;" />
              <!-- <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
           font-size: 22px; 
           font-weight: bold; 
           color: #4A90E2; 
           letter-spacing: 2px; 
           text-transform: uppercase;">
  Xort Logix
</h5> -->
              <h5 style="font-family: 'Poppins', sans-serif; 
           font-size: 26px; 
           font-weight: 700; 
           background: linear-gradient(90deg, #4A90E2, #9013FE); 
           -webkit-background-clip: text; 
           -webkit-text-fill-color: transparent; 
           letter-spacing: 1px;">
                Xort Logix
              </h5>

              <ul class="navbar-nav ml-auto navbar-list align-items-center">


                <button class="btn btn-primary ml-4 px-2 py-1">Contacts</button>
                <button class="btn btn-primary ml-4 px-2 py-1">Opportunity</button>
                <li class="nav-item nav-icon dropdown">
                </li>
                <li class="nav-item nav-icon dropdown">
                  <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="bg-primary"></span>
                  </a>
                  <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <div class="card shadow-none m-0 border-0">
                      <div class=" p-0 ">
                        <ul class="dropdown-menu-1 list-group list-group-flush">
                          <li class="dropdown-item-1 list-group-item  px-2"><a class="p-0" href="#"><img
                                src="../assets/images/Flag/flag-03.png" alt="img-flaf" class="img-fluid mr-2"
                                style="width: 15px;height: 15px;min-width: 15px;" />Spanish</a></li>
                          <li class="dropdown-item-1 list-group-item  px-2"><a class="p-0" href="#"><img
                                src="../assets/images/Flag/flag-04.png" alt="img-flaf" class="img-fluid mr-2"
                                style="width: 15px;height: 15px;min-width: 15px;" />Italian</a></li>
                          <li class="dropdown-item-1 list-group-item  px-2"><a class="p-0" href="#"><img
                                src="../assets/images/Flag/flag-02.png" alt="img-flaf" class="img-fluid mr-2"
                                style="width: 15px;height: 15px;min-width: 15px;" />French</a></li>
                          <li class="dropdown-item-1 list-group-item  px-2"><a class="p-0" href="#"><img
                                src="../assets/images/Flag/flag-05.png" alt="img-flaf" class="img-fluid mr-2"
                                style="width: 15px;height: 15px;min-width: 15px;" />German</a></li>
                          <li class="dropdown-item-1 list-group-item  px-2"><a class="p-0" href="#"><img
                                src="../assets/images/Flag/flag-06.png" alt="img-flaf" class="img-fluid mr-2"
                                style="width: 15px;height: 15px;min-width: 15px;" />Japanese</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nav-item nav-icon dropdown">
                  <a href="#" class="nav-item nav-icon dropdown-toggle pr-0 search-toggle" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/user.jpg" class="img-fluid avatar-rounded" alt="user">
                    <span class="mb-0  user-name mr-4 "><b> John Doe </b></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item d-flex svg-icon">
                      <svg class="svg-icon mr-0 text-secondary" id="h-01-p" width="20"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                      <a href="../app/user-profile.html">My Profile</a>
                    </li>
                    <li class="dropdown-item d-flex svg-icon">
                      <svg class="svg-icon mr-0 text-secondary" id="h-02-p" width="20"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                      </svg>
                      <a href="../app/user-profile-edit.html">Edit Profile</a>
                    </li>
                    <li class="dropdown-item d-flex svg-icon">
                      <svg class="svg-icon mr-0 text-secondary" id="h-03-p" width="20"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                      <a href="../app/user-account-setting.html">Account Settings</a>
                    </li>
                    <li class="dropdown-item d-flex svg-icon">
                      <svg class="svg-icon mr-0 text-secondary" id="h-04-p" width="20"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                      </svg>
                      <a href="../app/user-privacy-setting.html">Privacy Settings</a>
                    </li>
                    <li class="dropdown-item  d-flex svg-icon border-top">
                      <svg class="svg-icon mr-0 text-secondary" id="h-05-p" width="20"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                      </svg>
                      <a href="../backend/auth-sign-in.html">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>












    <div class="d-flex align-items-center">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-list align-items-center">
          <li class="nav-item nav-icon dropdown">
            <a href="#" class="search-toggle dropdown-toggle" id="notification-dropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="h-6 w-6 text-secondary" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
              <span class="bg-primary"></span>
            </a>
            <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="notification-dropdown">
              <div class="card shadow-none m-0 border-0">
                <div class="p-3 card-header-border">
                  <h6 class="text-center">Notifications</h6>
                </div>
                <div class="card-body overflow-auto card-header-border p-0 card-body-list" style="max-height: 500px">
                  <ul class="dropdown-menu-1 overflow-auto list-style-1 mb-0">
                    <li class="dropdown-item-1 float-none p-3">
                      <div class="list-item d-flex justify-content-start align-items-start">
                        <div class="avatar">
                          <div class="avatar-img avatar-danger avatar-20">
                            <span>
                              <svg class="icon line" width="30" height="30" id="cart-alt1" stroke="white"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M3,3H5.32a1,1,0,0,1,.93.63L10,13,8.72,15.55A1,1,0,0,0,9.62,17H19" style="
                                            fill: none;
                                            stroke-linecap: round;
                                            stroke-linejoin: round;
                                            stroke-width: 2;
                                          "></path>
                                <polyline points="10 13 18.2 13 21 6" style="
                                            fill: none;
                                            stroke-linecap: round;
                                            stroke-linejoin: round;
                                            stroke-width: 2;
                                          "></polyline>
                                <line x1="20.8" y1="6" x2="7.2" y2="6" style="
                                            fill: none;
                                            stroke-linecap: round;
                                            stroke-linejoin: round;
                                            stroke-width: 2;
                                          "></line>
                                <circle cx="10.5" cy="20.5" r="0.5" style="
                                            fill: none;
                                            stroke-miterlimit: 10;
                                            stroke-width: 2;
                                          "></circle>
                                <circle cx="16.5" cy="20.5" r="0.5" style="
                                            fill: none;
                                            stroke-miterlimit: 10;
                                            stroke-width: 2;
                                          "></circle>
                              </svg>
                            </span>
                          </div>
                        </div>
                        <div class="list-style-detail ml-2 mr-2">
                          <h6 class="font-weight-bold">
                            Your order is placed
                          </h6>
                          <p class="m-0">
                            <small class="text-secondary">If several languages coalesce</small>
                          </p>
                          <p class="m-0">
                            <small class="text-secondary">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mr-1" width="15" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              3 hours ago</small>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="dropdown-item-1 float-none p-3">
                      <div class="list-item d-flex justify-content-start align-items-start">
                        <div class="avatar">
                          <div class="avatar-img avatar-success avatar-20">
                            <span><img class="avatar is-squared rounded-circle" src="../assets/images/user/2.jpg"
                                alt="2.jpg" /></span>
                          </div>
                        </div>
                        <div class="list-style-detail ml-2 mr-2">
                          <h6 class="font-weight-bold">
                            New message form cate
                          </h6>
                          <p class="m-0">
                            <small class="text-secondary">You have 3 unreded messages</small>
                          </p>
                          <p class="m-0">
                            <small class="text-secondary">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mr-1" width="15" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              5 hours ago</small>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="dropdown-item-1 float-none p-3">
                      <div class="list-item d-flex justify-content-start align-items-start">
                        <div class="avatar">
                          <div class="avatar-img avatar-warning avatar-20">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="30" height="30" stroke="white" id="Capa_1" x="0px" y="0px"
                                viewBox="0 0 512 512" style="
                                          enable-background: new 0 0 512 512;
                                        " xml:space="preserve">
                                <g>
                                  <g>
                                    <path
                                      d="M386.689,304.403c-35.587,0-64.538,28.951-64.538,64.538s28.951,64.538,64.538,64.538    c35.593,0,64.538-28.951,64.538-64.538S422.276,304.403,386.689,304.403z M386.689,401.21c-17.796,0-32.269-14.473-32.269-32.269    c0-17.796,14.473-32.269,32.269-32.269c17.796,0,32.269,14.473,32.269,32.269C418.958,386.738,404.485,401.21,386.689,401.21z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M166.185,304.403c-35.587,0-64.538,28.951-64.538,64.538s28.951,64.538,64.538,64.538s64.538-28.951,64.538-64.538    S201.772,304.403,166.185,304.403z M166.185,401.21c-17.796,0-32.269-14.473-32.269-32.269c0-17.796,14.473-32.269,32.269-32.269    c17.791,0,32.269,14.473,32.269,32.269C198.454,386.738,183.981,401.21,166.185,401.21z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M430.15,119.675c-2.743-5.448-8.32-8.885-14.419-8.885h-84.975v32.269h75.025l43.934,87.384l28.838-14.5L430.15,119.675z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <rect x="216.202" y="353.345" width="122.084" height="32.269" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M117.781,353.345H61.849c-8.912,0-16.134,7.223-16.134,16.134c0,8.912,7.223,16.134,16.134,16.134h55.933    c8.912,0,16.134-7.223,16.134-16.134C133.916,360.567,126.693,353.345,117.781,353.345z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M508.612,254.709l-31.736-40.874c-3.049-3.937-7.755-6.239-12.741-6.239H346.891V94.655    c0-8.912-7.223-16.134-16.134-16.134H61.849c-8.912,0-16.134,7.223-16.134,16.134s7.223,16.134,16.134,16.134h252.773v112.941    c0,8.912,7.223,16.134,16.134,16.134h125.478l23.497,30.268v83.211h-44.639c-8.912,0-16.134,7.223-16.134,16.134    c0,8.912,7.223,16.134,16.134,16.134h60.773c8.912,0,16.134-7.223,16.135-16.134V264.605    C512,261.023,510.806,257.538,508.612,254.709z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M116.706,271.597H42.487c-8.912,0-16.134,7.223-16.134,16.134c0,8.912,7.223,16.134,16.134,16.134h74.218    c8.912,0,16.134-7.223,16.134-16.134C132.84,278.82,125.617,271.597,116.706,271.597z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M153.815,208.134H16.134C7.223,208.134,0,215.357,0,224.269s7.223,16.134,16.134,16.134h137.681    c8.912,0,16.134-7.223,16.134-16.134S162.727,208.134,153.815,208.134z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M180.168,144.672H42.487c-8.912,0-16.134,7.223-16.134,16.134c0,8.912,7.223,16.134,16.134,16.134h137.681    c8.912,0,16.134-7.223,16.134-16.134C196.303,151.895,189.08,144.672,180.168,144.672z" />
                                  </g>
                                </g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                              </svg>
                            </span>
                          </div>
                        </div>
                        <div class="list-style-detail ml-2 mr-2">
                          <h6 class="font-weight-bold">
                            Your item is shipped
                          </h6>
                          <p class="m-0">
                            <small class="text-secondary">You got new order of goods</small>
                          </p>
                          <p class="m-0">
                            <small class="text-secondary">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary mr-1" width="15" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              5 hours ago</small>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-footer text-muted p-3">
                  <p class="mb-0 text-primary text-center font-weight-bold">
                    Show all notifications
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-icon dropdown">
            <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="../assets/images/Flag/flag001.png" class="img-fluid rounded-circle" alt="user"
                style="height: 30px; min-width: 30px; width: 30px" />
              <span class="bg-primary"></span>
            </a>
            <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <div class="card shadow-none m-0 border-0">
                <div class="p-0">
                  <ul class="dropdown-menu-1 list-group list-group-flush">
                    <li class="dropdown-item-1 list-group-item px-2">
                      <a class="p-0" href="#"><img src="../assets/images/Flag/flag-03.png" alt="img-flaf"
                          class="img-fluid mr-2" style="
                                    width: 15px;
                                    height: 15px;
                                    min-width: 15px;
                                  " />Spanish</a>
                    </li>
                    <li class="dropdown-item-1 list-group-item px-2">
                      <a class="p-0" href="#"><img src="../assets/images/Flag/flag-04.png" alt="img-flaf"
                          class="img-fluid mr-2" style="
                                    width: 15px;
                                    height: 15px;
                                    min-width: 15px;
                                  " />Italian</a>
                    </li>
                    <li class="dropdown-item-1 list-group-item px-2">
                      <a class="p-0" href="#"><img src="../assets/images/Flag/flag-02.png" alt="img-flaf"
                          class="img-fluid mr-2" style="
                                    width: 15px;
                                    height: 15px;
                                    min-width: 15px;
                                  " />French</a>
                    </li>
                    <li class="dropdown-item-1 list-group-item px-2">
                      <a class="p-0" href="#"><img src="../assets/images/Flag/flag-05.png" alt="img-flaf"
                          class="img-fluid mr-2" style="
                                    width: 15px;
                                    height: 15px;
                                    min-width: 15px;
                                  " />German</a>
                    </li>
                    <li class="dropdown-item-1 list-group-item px-2">
                      <a class="p-0" href="#"><img src="../assets/images/Flag/flag-06.png" alt="img-flaf"
                          class="img-fluid mr-2" style="
                                    width: 15px;
                                    height: 15px;
                                    min-width: 15px;
                                  " />Japanese</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-icon search-content">
            <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <svg class="svg-icon text-secondary" id="h-suns" height="25" width="25" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </a>
            <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
              <form action="#" class="searchbox p-2">
                <div class="form-group mb-0 position-relative">
                  <input type="text" class="text search-input font-size-12" placeholder="type here to search..." />
                  <a href="#" class="search-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                  </a>
                </div>
              </form>
            </div>
          </li>
          <li class="nav-item nav-icon dropdown">
            <a href="#" class="nav-item nav-icon dropdown-toggle pr-0 search-toggle" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../assets/images/user/1.jpg" class="img-fluid avatar-rounded" alt="user" />
              <span class="mb-0 ml-2 user-name">John Doe</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <li class="dropdown-item d-flex svg-icon">
                <svg class="svg-icon mr-0 text-secondary" id="h-01-p" width="20" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <a href="../app/user-profile.html">My Profile</a>
              </li>
              <li class="dropdown-item d-flex svg-icon">
                <svg class="svg-icon mr-0 text-secondary" id="h-02-p" width="20" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                </svg>
                <a href="../app/user-profile-edit.html">Edit Profile</a>
              </li>
              <li class="dropdown-item d-flex svg-icon">
                <svg class="svg-icon mr-0 text-secondary" id="h-03-p" width="20" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <a href="../app/user-account-setting.html">Account Settings</a>
              </li>
              <li class="dropdown-item d-flex svg-icon">
                <svg class="svg-icon mr-0 text-secondary" id="h-04-p" width="20" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                </svg>
                <a href="../app/user-privacy-setting.html">Privacy Settings</a>
              </li>
              <li class="dropdown-item d-flex svg-icon border-top">
                <svg class="svg-icon mr-0 text-secondary" id="h-05-p" width="20" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                <a href="../backend/auth-sign-in.html">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <!-- </div> -->
    <!-- </div>  -->
    <!-- </div> -->

    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-md-12 mb-4 mt-1">
         <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h4 class="font-weight-bold">Overview</h4> 
             <div class="form-group mb-0 vanila-daterangepicker d-flex flex-row">
                  <div class="date-icon-set">
                     <input type="text" name="start" class="form-control" placeholder="From Date">
                     <span class="search-link">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                     </span>
                  </div>                  
                     <span class="flex-grow-0">
                     <span class="btn">To</span>
                  </span>
                  <div class="date-icon-set">
                     <input type="text" name="end" class="form-control" placeholder="To Date">
                     <span class="search-link">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                     </span>
                  </div>                  
            </div>
         </div>
      </div> -->
          <!-- <br /><br /><br /> -->
          <div class=" mt-4 mx-4">
            <div class="row d-flex justify-content-center mx-4">
              <!-- <div class="col-md-4"> -->
              <!-- Card 1 -->


              <div class="col-md-4">
                <div class="card"
                  style="border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); overflow: hidden;">
                  <div class="card-body" style="padding: 20px;">
                    <div style="display: flex; align-items: center;">

                      <!-- Icon for Lead -->
                      <div
                        style="width: 50px; height: 50px; border-radius: 50%; background: linear-gradient(135deg, #4A90E2, #50E3C2); display: flex; align-items: center; justify-content: center; color: white; font-size: 20px; margin-right: 15px;">
                        👤
                      </div>

                      <!-- Lead Info -->
                      <div>
                        <p style="margin: 0; font-size: 14px; color: #6c757d;">New Lead</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <h5 style="margin: 0; font-size: 22px; font-weight: 700; color: #2C3E50;">$95,595</h5>
                          <p style="margin: 0; font-size: 14px; color: #28a745; font-weight: bold;">+3.55%</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>










              <div class="col-md-4">
                <div class="card"
                  style="border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); overflow: hidden;">
                  <div class="card-body" style="padding: 20px;">
                    <div style="display: flex; align-items: center;">

                      <!-- Icon for Contacted -->
                      <div
                        style="width: 50px; height: 50px; border-radius: 50%; background: linear-gradient(135deg, #FF8C00, #FFB347); display: flex; align-items: center; justify-content: center; color: white; font-size: 20px; margin-right: 15px;">
                        📞
                      </div>

                      <!-- Contacted Info -->
                      <div>
                        <p style="margin: 0; font-size: 14px; color: #6c757d;">Contacted</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <h5 style="margin: 0; font-size: 22px; font-weight: 700; color: #2C3E50;">$95,595</h5>
                          <p style="margin: 0; font-size: 14px; color: #28a745; font-weight: bold;">+3.55%</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>














              <div class="col-md-4">
                <div class="card"
                  style="border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); overflow: hidden;">
                  <div class="card-body" style="padding: 20px;">
                    <div style="display: flex; align-items: center;">

                      <!-- Icon for Qualified -->
                      <div
                        style="width: 50px; height: 50px; border-radius: 50%; background: linear-gradient(135deg, #28a745, #7ed957); display: flex; align-items: center; justify-content: center; color: white; font-size: 20px; margin-right: 15px;">
                        ✅
                      </div>

                      <!-- Qualified Info -->
                      <div>
                        <p style="margin: 0; font-size: 14px; color: #6c757d;">Qualified</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <h5 style="margin: 0; font-size: 22px; font-weight: 700; color: #2C3E50;">$95,595</h5>
                          <p style="margin: 0; font-size: 14px; color: #28a745; font-weight: bold;">+3.55%</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>





              <div class="col-md-4">
                <div class="card"
                  style="border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); overflow: hidden;">
                  <div class="card-body" style="padding: 20px;">
                    <div style="display: flex; align-items: center;">

                      <!-- Icon for Proposal -->
                      <div
                        style="width: 50px; height: 50px; border-radius: 50%; background: linear-gradient(135deg, #007bff, #00c6ff); display: flex; align-items: center; justify-content: center; color: white; font-size: 20px; margin-right: 15px;">
                        📄
                      </div>

                      <!-- Proposal Info -->
                      <div>
                        <p style="margin: 0; font-size: 14px; color: #6c757d;">Proposal</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <h5 style="margin: 0; font-size: 22px; font-weight: 700; color: #2C3E50;">$95,595</h5>
                          <p style="margin: 0; font-size: 14px; color: #28a745; font-weight: bold;">+3.55%</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>






              <div class="col-md-4">
                <div class="card"
                  style="border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); overflow: hidden;">
                  <div class="card-body" style="padding: 20px;">
                    <div style="display: flex; align-items: center;">

                      <!-- Icon for Negotiation -->
                      <div
                        style="width: 50px; height: 50px; border-radius: 50%; background: linear-gradient(135deg, #ff7e5f, #feb47b); display: flex; align-items: center; justify-content: center; color: white; font-size: 22px; margin-right: 15px;">
                        🤝
                      </div>

                      <!-- Negotiation Info -->
                      <div>
                        <p style="margin: 0; font-size: 14px; color: #6c757d;">Negotiation</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <h5 style="margin: 0; font-size: 22px; font-weight: 700; color: #2C3E50;">$12,789</h5>
                          <p style="margin: 0; font-size: 14px; color: #28a745; font-weight: bold;">+2.67%</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>







              <div class="col-md-4">
                <div class="card"
                  style="border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); overflow: hidden;">
                  <div class="card-body" style="padding: 20px;">
                    <div style="display: flex; align-items: center;">

                      <!-- Icon for Closed Won -->
                      <div
                        style="width: 50px; height: 50px; border-radius: 50%; background: linear-gradient(135deg, #28a745, #6dd5ed); display: flex; align-items: center; justify-content: center; color: white; font-size: 22px; margin-right: 15px;">
                        🏆
                      </div>

                      <!-- Closed Won Info -->
                      <div>
                        <p style="margin: 0; font-size: 14px; color: #6c757d;">Closed Won</p>
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <h5 style="margin: 0; font-size: 22px; font-weight: 700; color: #2C3E50;">13,984</h5>
                          <p style="margin: 0; font-size: 14px; color: #dc3545; font-weight: bold;">-9.98%</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>



          <div class="col-lg-3 col-md-5 ml-4">
            <div class="card ml-4">


              <div class="card-body">
  <h4 class="font-weight-bold mb-3">Pipeline Stages</h4>
  <div id="chart-apex-column-03" class="custom-chart"></div>

  <!-- First row -->
  <div class="d-flex justify-content-around align-items-center mt-3">
    <div class="d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="4" fill="#ffbb33" />
      </svg>
      <span class="ml-2 font-weight-medium">New Lead</span>
    </div>

    <div class="d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="4" fill="#e60000" />
      </svg>
      <span class="ml-2 font-weight-medium">Contacted</span>
    </div>
  </div>

  <!-- Second row -->
  <div class="d-flex justify-content-around align-items-center mt-3">
    <div class="d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="4" fill="#04237D" />
      </svg>
      <span class="ml-2 font-weight-medium">Qualified</span>
    </div>

    <div class="d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="4" fill="#8080ff" />
      </svg>
      <span class="ml-2 font-weight-medium">Proposal</span>
    </div>
  </div>

  <!-- Third row -->
  <div class="d-flex justify-content-around align-items-center mt-3">
    <div class="d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="4" fill="#ff6600" />
      </svg>
      <span class="ml-2 font-weight-medium">Negotiation</span>
    </div>

    <div class="d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="4" fill="#28a745" />
      </svg>
      <span class="ml-2 font-weight-medium">Closed Won</span>
    </div>
  </div>
</div>

              <!-- <div class="card-body">
                <h4 class="font-weight-bold mb-3">Popular Categories</h4>
                <div id="chart-apex-column-03" class="custom-chart"></div>
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="#ffbb33" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="18" height="18" rx="2" fill="#ffbb33" />
                    </svg>

                    <span>New Lead</span>
                  </div>
                  <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="#e60000" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="18" height="18" rx="2" fill="#e60000" />
                    </svg>

                    <span>
Contacted</span>
                  </div>
                </div>
                <div class="d-flex justify-content-around align-items-center mt-3">
                  <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="primary" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="18" height="18" rx="2" fill="#04237D" />
                    </svg>

                    <span>Qualified</span>
                  </div>
                  <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="primary" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="18" height="18" rx="2" fill="#8080ff" />
                    </svg>

                    <span>Proposal</span>
                  </div>


                    <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="primary" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="18" height="18" rx="2" fill="#8080ff" />
                    </svg>

                    <span>Negotiation </span>
                  </div>




                    <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="secondary" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="18" height="18" rx="2" fill="#8080ff" />
                    </svg>

                    <span>Closed Won</span>
                  </div>




                </div>
              </div> -->
            </div>
          </div>


          <!-- <div class="col-lg-4 col-md-8 mt-4">
              <div class="card card-block card-stretch card-height">
                <div
                  class="card-header card-header-border d-flex justify-content-between"
                >
                  <div class="header-title">
                    <h4 class="card-title">Top Selling Product</h4>
                  </div>
                </div>
                <div class="card-body-list">
                  <ul class="list-style-3 mb-0">
                    <li
                      class="p-3 list-item d-flex justify-content-start align-items-center"
                    >
                      <div class="avatar">
                        <img
                          class="avatar avatar-img avatar-60 rounded"
                          src="images/1.jpg"
                          alt="1.jpg"
                        />
                      </div>
                      <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">Rockerz Bluetooth Headset</p>
                      </div>
                      <div
                        class="list-style-action d-flex justify-content-end ml-auto"
                      >
                        <h6 class="font-weight-bold">$1,056</h6>
                      </div>
                    </li>
                    <li
                      class="p-3 list-item d-flex justify-content-start align-items-center"
                    >
                      <div class="avatar">
                        <img
                          class="avatar avatar-img avatar-60 rounded"
                          src="images/2.jpg"
                          alt="2.jpg"
                        />
                      </div>
                      <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">Wifi Security Camera</p>
                      </div>
                      <div
                        class="list-style-action d-flex justify-content-end ml-auto"
                      >
                        <h6 class="font-weight-bold">$1,799</h6>
                      </div>
                    </li>
                    <li
                      class="p-3 list-item d-flex justify-content-start align-items-center"
                    >
                      <div class="avatar">
                        <img
                          class="avatar avatar-img avatar-60 rounded"
                          src="images/13.jpg"
                          alt="3.jpg"
                        />
                      </div>
                      <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">Stone Bluetooth Speaker</p>
                      </div>
                      <div
                        class="list-style-action d-flex justify-content-end ml-auto"
                      >
                        <h6 class="font-weight-bold">$1,099</h6>
                      </div>
                    </li>
                    <li
                      class="p-3 list-item d-flex justify-content-start align-items-center"
                    >
                      <div class="avatar">
                        <img
                          class="avatar avatar-img avatar-60 rounded"
                          src="images/4.jpg"
                          alt="4.jpg"
                        />
                      </div>
                      <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">Ryzen 5 Hexa Core 5600H</p>
                      </div>
                      <div
                        class="list-style-action d-flex justify-content-end ml-auto"
                      >
                        <h6 class="font-weight-bold">$9,999</h6>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->











































<div class="col-md-8">
  <div class="row">
    <!-- Opportunities Created Per Month -->
    <div class="col-md-12 mr-4">
      <div class="card mr-4 " style="height: 54vh;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="font-weight-bold">Opportunities Created</h6>
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 3v18h18M7 13l3 3 7-7" />
              </svg>
              <span class="font-weight-bold">1,245</span>
            </div>
          </div>
          <p class="mb-0">Monthly opportunities created</p>

          <div id="chart-opportunities-month" class="custom-chart"></div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0 pt-3">Jan</p>
            <p class="mb-0 pt-3">Feb</p>
            <p class="mb-0 pt-3">Mar</p>
            <p class="mb-0 pt-3">Apr</p>
            <p class="mb-0 pt-3">May</p>
            <p class="mb-0 pt-3">Jun</p>
            <p class="mb-0 pt-3">Jul</p>
            <p class="mb-0 pt-3">Aug</p>
            <p class="mb-0 pt-3">Sep</p>
            <p class="mb-0 pt-3">Oct</p>
            <p class="mb-0 pt-3">Nov</p>
            <p class="mb-0 pt-3">Dec</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3 ml-4">
 <div class="card ml-4">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h4 class="card-title">Closed Opportunities (Won / Lost)</h4>
    </div>
  </div>
  <div class="card-body">
    <!-- Only keep this container -->
    <div id="pieChart"></div>
  </div>
</div>

</div>




<div class="col-md-8 mr-4">
<div class="card mr-4">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h4 class="card-title">Pipeline Velocity (Avg Days in Stage)</h4>
    </div>
  </div>
  <div class="card-body" style="height: 41vh;">
    <canvas id="pipelineVelocityCharts" width="100%" style="width: 100%;;"></canvas>
  </div>
</div>
 </div>


    


        </div>
        <!-- Page end  -->
      </div>
    </div>
  </div>
  <!-- Wrapper End-->
  <footer class="iq-footer " style="width: 100%; margin: 0px;">
    <!-- <div class="container-fluid"> -->
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="../backend/privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="../backend/terms-of-service.html">Terms of Use</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 text-right">
        <span class="mr-1">
          Copyright
          <script>
            document.write(new Date().getFullYear());
          </script>
          © <a href="#" class="">Xort Logix</a>
          All Rights Reserved.
        </span>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <script src="js/backend-bundle.min.js"></script>
  <script src="js/customizer.js"></script>
  <script src="js/sidebar.js"></script>
  <script src="js/flex-tree.min.js"></script>
  <script src="js/tree.js"></script>
  <script src="js/table-treeview.js"></script>
  <script src="js/sweetalert.js"></script>
  <script src="js/vector-map-custom.js"></script>
  <script src="js/chart-custom.js"></script>
  <script src="js/chart_1.js"></script>
  <script src="js/chart_2.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/app.js"></script>




  <script>


    $(document).ready(function () {
  var options = {
    chart: {
      type: 'pie',
      height: 350
    },
    labels: ['Closed Won', 'Closed Lost'],
    series: [65, 35], 
    colors: ['#28a745', '#dc3545'],
    legend: {
      position: 'bottom'
    }
  };

  var chart = new ApexCharts(document.querySelector("#pieChart"), options);
  chart.render();



  var ctx = document.getElementById('pipelineVelocityCharts').getContext('2d');

  var pipelineChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['New Lead', 'Contacted', 'Qualified', 'Proposal', 'Negotiation', 'Closed'],
      datasets: [{
        label: 'Avg Days in Stage',
        data: [3, 5, 7, 4, 6, 2], 
        backgroundColor: '#007bff'
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          display: true,
          position: 'bottom'
        },
        tooltip: {
          enabled: true
        }
      },
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Days'
          }
        },
        x: {
          title: {
            display: true,
            text: 'Pipeline Stages'
          }
        }
      }
    }
  });




    $(function () {
    var options = {
      chart: {
        type: 'bar',
        height: 250
      },
      series: [{
        name: 'Opportunities',
        data: [30, 45, 60, 50, 70, 90, 120, 80, 110, 95, 130, 150] // example data
      }],
      colors: ['#007bff'],
      plotOptions: {
        bar: {
          columnWidth: '40%',
          borderRadius: 4
        }
      },
      dataLabels: {
        enabled: false
      },
      xaxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      }
    };

    var chart = new ApexCharts(document.querySelector("#chart-opportunities-month"), options);
    chart.render();
  });

    });
  </script>
</body>

</html>